.msg-div {
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  min-height: 8rem;
}

.p-l-3 {
  padding-left: 3.5rem;
}

.p-r-2 {
  padding-right: 2.5rem;
}

.email-blue {
  color: #1681f0;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.contactUs-class:focus {
  box-shadow: none;
  border: 1px solid #0fc6d9;
  outline: none;
}

.textarea-class:focus {
  border: 1px solid #0fc6d9;
  outline: none;
}

@media screen and (max-width: 576px) {
  .p-l-3 {
    padding-left: 0;
  }

  .p-r-2 {
    padding-right: 0;
  }

  .email-blue {
    color: #234bf5;
    font-size: 14px;
    font-weight: 500;
  }
}
