.participate-now-page {
  background-color: #bbf0d41a;
}

.content-area {
  height: 95%;
}

.content-slide {
  background-color: white;
  box-shadow: 0px 4px 10px lightgrey;
  height: 70%;
}

.signup-underline {
  position: relative;
}

.signup-underline::after {
  position: absolute;
  bottom: -2px;
  left: 8px;
  width: 36px;
  height: 4px;
  border-radius: 4px;
  background-color: #f230bb;
  content: "";
}

.form-class {
  height: 100%;
  overflow: auto;
  max-height: 465px;
}

@media screen and (max-width: 576px) {
  .form-class {
    height: 100%;
    overflow: unset;
  }
}

.rounded-corners {
  border-radius: 25px;
}
