.header-container {
  height: 120px;
  background-color: white;
  padding: 0;
}

.full-header{
  height: 120px;
  background-color: #bbf0d41a;
  padding: 0;
}

.full-header .logo{
  width: 14%;
}

.logo {
  width: 30%;
}

.nav-item .nav-link {
  color: #2b3566;
  font-size: 20px;
  font-weight: 500;
}

.participate-now {
  border: 1px solid #2b3566;
  border-radius: 30px;
  padding: 0px 25px;
}

.right-gutter, .right-header{
  background-color: #bbf0d41a;
}
