.admin-username-div {
  background-color: black;
}

.link-tag {
  color: white !important;
}

#btn {
  color: white;
  font-size: 22px;
  position: inherit;
  line-height: 46px;
}
.admin-navbar {
  background-color: #1f376d;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0px 4px 6px #0000000f;
  border-left: 1px solid #1f376d;
}

.search-bar input {
  width: 95%;
  border: none;
}

.search-bar input:focus {
  border: none;
}

.search-bar button {
  border: none;
  background-color: transparent;
}
