.data-privacy-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.data-container {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  padding: 0 20px;
  padding-left: 80px;
  width: 80%;
  position: relative;
  margin-top: 25px;
}

.data-privacy-image {
  position: absolute;
  left: -35px;
}

.data-privacy-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* .data-privacy-text-header {
  
}

.data-privacy-text-para {

} */

.footer-container {
  align-self: flex-start;
  margin-left: 55px;
}

@media screen and (max-width: 576px) {
  .data-privacy-main {
    padding-right: 0px;
  }

  .upper-container {
    margin: 40px -25px 80px 0;
  }

  .data-container {
    margin-top: 10px;
    padding: 5px 20px;
    padding-right: 0;
    line-height: 1.2;
    padding-left: 50px;
    height: 160px;
    width: 280px;
    font-size: 10px;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* background-color: red; */
  }

  .data-privacy-image {
    position: absolute;
    left: -40px;
    height: 90px;
  }

  /* .data-privacy-text-container{

  } */

  .data-privacy-text-header {
    font-size: 14px;
  }

  .data-privacy-text-para {
    font-size: 12px;
  }

  .footer-container {
    align-self: center;
    margin-left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}
