.forgot-password-underline {
    position: relative;
}

.forgot-password-underline:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 66px;
  height: 4px;
  border-radius: 4px;
  background-color: #f230bb;
  content: "";
}