.full-page-container {
  height: 100vh;
  width: 100vw;
  background-color: #f8fefb;
}

.head-bar {
  background-color: white;
  border: 1px solid #dddddd;
  box-shadow: 0px 4px 6px #0000000f;
}

.username-div {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border-radius: 4px;
}

.record-container {
  background-color: white;
  box-shadow: 0px 4px 6px #0000000f;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: 300px;
  width: 250px;
}
.file-uploader {
  background-color: transparent;
  box-shadow: 0px 4px 6px #0000000f;
  border: 1px solid #dddddd;
  border-radius: 8px;
  height: 300px;
  width: 250px;
}

.file-upload-label {
  border: 1px dashed black;
  background-color: #f7f7f7;
  padding: 10px 0px;
  border-radius: 8px;
}

.file-upload-label-main {
  max-width: 500px;
  width: 93%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-button {
  background-color: #04d976;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  border: none;
}
.line-height {
  line-height: 1.2;
}
