.homePage-container {
  width: 100%;
  height: 100vh;

  overflow-x: hidden;
}

.heading-highlight {
  color: #029c9a;
}
.sub-heading {
  color: #6c6c6c;
  font-weight: 400;
  max-width: 600px;
  width: 100%;
  margin: 40px 0;
  font-size: 22px;
}

.cookies-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002f00;
}

.cookies-banner p {
  margin: 0;
}

.cookies-banner-main {
  width: 100%;
  max-width: 1470px;
  background-color: #002f00;
  color: #ffffff;
  /* padding: 20px; */
  padding-block: 20px;
}
.learn-more-button,
.learn-more-button:hover {
  background-color: #ee6639 !important;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  padding: 0.5rem 3rem;
  font-weight: 500;
  font-size: 18px;
}

.a-tag-white {
  color: #ffffff;
  text-decoration: none;
}

.cookie-accept-button {
  background-color: #0fc6d9;
  color: #ffffff;
  border: none;
}

.cookie-reject-button {
  color: #0fc6d9;
  border: 1px solid #0fc6d9;
  background-color: #ffffff;
}

.lh-mainHeading {
  line-height: 1.4;
  padding-bottom: 24px;
}

.lh-subHeading {
  line-height: 1.3;
  padding-bottom: 48px;
}

@media screen and (max-width: 576px) {
  .cookies-banner-main {
    width: 100%;

    background-color: #002f00;
    color: #ffffff;
    padding: 20px;
  }
}
