.modal {
    position: fixed;
    width: 300px;
    height: 100px;
    background: rgb(255, 255, 255);
    border: 1px solid red;
    padding: 0;
  }

 .large-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.105);
    top: 0;
    left: 0;
 } 
  
  .modal-main {
    position: relative;
    background: white;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .modal-main button {
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
    border: none;
    background-color: #fff;
  }

  .modal-main .question-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30%;
    border: 1px solid #000;
    padding: 0px 20px;
  }

  .modal-main .question-bar p {
    margin: 0;
    font-size: 25px;
    color: #000;
  }

  .modal-main .answer-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 70%;
    padding: 0px 20px;
  } 

  .button-list {
    /* display: flex;
    flex-direction: column; */
    list-style: none;
    margin: 0;
  }

  .button-list li {
    width: 300px;
    height: 50px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }