.modal {
    position: fixed;
    width: 300px;
    height: 100px;
    background: rgb(255, 255, 255);
    border: 1px solid red;
    padding: 0;
  }
  
  /* .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  } */

  .button-list {
    /* display: flex;
    flex-direction: column; */
    list-style: none;
    margin: 0;
  }

  .button-list li {
    width: 300px;
    height: 50px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }