.content-section{
  height: 100vh;
}

.color-primary {
  color: #2B2B2B;
  font-weight: 600;
  font-size: 54px;
}

.color-dark-grey {
  color: #707070;
}

.button-magic-mint {
  background-color: #acf2d2;
  color: #2b3566;
  border: none;
}

.button-layout {
  border-radius: 100px;
  padding: 0.5rem 3rem;
  font-weight: 500;
}
.button-contained,
.button-contained:hover {
  background-color: #2d3663;
  color: white;
}

.button-outlined {
  color: #2b3566;
  border: 1px solid #2d3663;
  background-color: transparent;
}

.button-a-tag {
  color: #2b3566;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
}

.button-a-tag:hover {
  color: rgb(71, 134, 244);
}

.button-outlined-q {
  color: #48b27e;
  border: 1px solid #48b27e;
  background-color: transparent;
}

.button-virtual {
  background-color: transparent;
  border: none;
}

.button-virtual:hover {
  color: rgb(71, 134, 244);
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}
.fs-24 {
  font-size: 24px;
}
.fs-36 {
  font-size: 36px;
}

.fs-14 {
  font-size: 14px;
  font-family: Helvetica;
  font-weight: 600;
}

.fs-12 {
  font-size: 12px;
  font-family: Helvetica;
  font-weight: 400;
}
.a-tag {
  color: #2b3566;
  text-decoration: none;
  font-size: 16px;
}

.btn-check + .radio-button:hover {
  background-color: #acf2d2;
  color: #2b3566;
}

.btn-check:checked + .radio-button {
  background-color: #48b27e;
  color: white;
}

.link-class {
  text-decoration: none;
}
.link-class:hover {
  color: white;
}

.input-class {
  border: 1px solid #b0b0b0;
  border-radius: 8px;
  background-color: transparent;
}

input.form-control{
  border-radius: 25px;
}

input.form-control:focus{
  box-shadow: none;
  border: 1px solid #459A99
}
