/* .content-section {
  height: 90vh;
} */

.color-primary {
  color: #2b2b2b;
  font-weight: 600;
  /* font-size: 54px; */
}

.form-label {
  font-size: 12px;
  font-weight: 400;
}

.button-primary {
  background-color: #ee6639 !important;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  padding: 0.5rem 3rem;
  font-weight: 500;
  font-size: 18px;
}

.color-dark-grey {
  color: #707070;
}

.button-green {
  background-color: #04d976;
  color: #ffffff;
  border: none;
}

.button-green:disabled {
  background-color: #e3e3e3;
  color: #6c6c6c;
}

.button-layout {
  padding: 0.5rem 2rem;
  font-weight: 500;
  height: 48px;
}
.button-contained,
.button-contained:hover {
  background-color: #2d3663;
  color: white;
}

.button-outlined {
  color: #04d976;
  border: 1px solid #04d976;
  background-color: transparent;
}

.button-a-tag {
  color: #1681f0;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.button-secondary {
  color: #0fc6d9;
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.button-outlined-q {
  color: #48b27e;
  border: 1px solid #48b27e;
  background-color: transparent;
}

.button-virtual {
  background-color: transparent;
  border: none;
}

.button-virtual:hover {
  color: rgb(71, 134, 244);
}
.button-browse {
  background-color: #0fc6d9;
  color: #ffffff;
  border-radius: none;
  border: none;
}

/* l-light, r-regular, m-medium, sb- semi-bold, b-bold */

.fw-l {
  font-weight: 300;
}
.fw-r {
  font-weight: 400;
}
.fw-m {
  font-weight: 500;
}

.fw-sb {
  font-weight: 600;
}

.fw-b {
  font-weight: 700;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.fs-48 {
  font-size: 48px;
}

.fs-56 {
  font-size: 3.5em;
}

.fs-64 {
  font-size: 64px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}
.a-tag-btn {
  color: #04d976;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.a-tag-btn:hover {
  color: #04d976;
}
.a-tag-link {
  color: #0fc6d9;
  text-decoration: none;
}

.a-tag-link:hover {
  color: #0fc6d9;
}

.a-tag-white-btn {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.a-tag-white-btn:hover {
  color: #000000;
}

.a-tag-green-btn {
  color: #ffffff;
  background-color: #04d976;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.a-tag-green-btn:hover {
  color: #ffffff;
}

.a-tag-common {
  text-decoration: none;
}

.a-tag {
  color: #029c9a;
  text-decoration: none;
  font-size: 16px;
}

.btn-check + .radio-button:hover {
  background-color: #acf2d2;
  color: #2b3566;
}

.btn-check:checked + .radio-button {
  background-color: #48b27e;
  color: white;
}

.link-class {
  text-decoration: none;
}
.link-class:hover {
  color: white;
}

.radio-btn-label {
  color: #2b3566;
  font-size: 24px;
}

.close-icon {
  position: absolute;
  top: 45px;
  right: 45px;
}

.page-header {
  font-size: 40px;
  font-weight: 600;
}

.bg-blue {
  background-color: #0fc6d9;
  color: #ffffff;
  font-weight: bold;
}

.bg-pink {
  background-color: #f230bb;
  color: #ffffff;
  font-weight: bold;
}

.pink {
  color: #f230bb;
}

.bg-green {
  background-color: #04d976;
  color: #ffffff;
}

.heading-shadow {
  text-shadow: 0 3px 5px #00000029;
}

.container-shadow {
  box-shadow: 0 3px 5px #00000029;
}

.dim-gray {
  color: #6c6c6c;
}

.very-dark-gray {
  color: #707070;
}

.dark-blue {
  color: #2b3566;
}
.radio-btn {
  border: 3px solid #00cfe5;
  color: #ffffff;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.radio-btn:checked {
  background-color: #00cfe5;
  border-color: #00cfe5;
  box-shadow: none;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.participants-btn {
  color: #ffffff;
  background-color: #1f376d;
  border: none;
}

.records-card {
  border: 1px solid #dfe1e6;
  border-radius: 4px;
}

.dashboard-primary-color {
  color: #172e50;
}

.p-l-3 {
  padding-left: 3.5rem;
}

.p-l-6 {
  padding-left: 6.5rem;
}

.p-r-2 {
  padding-right: 2.5rem;
}

.checkbox-input {
  border: 2px solid #00cfe5;
  border-radius: 4px;
  box-shadow: none;
}

.checkbox-input:checked {
  background-color: #00cfe5;
  border: none;
  box-shadow: none;
}
.pink-underline {
  position: relative;
}

.pink-underline::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 77px;
  height: 4px;
  border-radius: 4px;
  background-color: #f230bb;
  content: "";
}

.pink-underline-small {
  position: relative;
}

.pink-underline-small::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 36px;
  height: 4px;
  border-radius: 4px;
  background-color: #f230bb;
  content: "";
}

.selection-form {
  height: 48px;
  border-radius: 0px;
  border: 1px solid #c7c7c7;
  font-size: 18px;
  font-weight: 400;
  /* background-position: right -2.25rem center; */
}

.input-class {
  border: 1px solid #bcbcbc;
  background-color: transparent;
  border-radius: 0;
  height: 48px;
}

.input-class:focus {
  color: #0fc6d9;
}

input.form-control:focus {
  box-shadow: none;
  border: 1px solid #0fc6d9;
}

@media screen and (max-width: 576px) {
  .fs-64 {
    font-size: 38px;
  }

  .fs-48 {
    font-size: 24px;
  }

  .fs-36 {
    font-size: 20px;
  }

  .fs-32 {
    font-size: 18px;
  }

  .fs-28 {
    font-size: 16px;
  }

  .fs-24 {
    font-size: 16px;
  }

  .fs-18 {
    font-size: 14px;
  }

  .radio-btn {
    width: 20px;
    height: 20px;
  }

  .radio-btn-label {
    font-size: 16px;
  }

  .input-class {
    border: 1px solid #bcbcbc;
    background-color: transparent;
    border-radius: 0;
    height: 44px;
  }

  .selection-form {
    height: 44px;
    border-radius: 0px;
    border: 1px solid #c7c7c7;
    font-size: 14px;
    font-weight: 400;
  }
}
