.modal-header {
  background-color: #017979;
  color: white;
  flex-direction: row;
  align-items: flex-start;
}

.modal-header p {
  font-size: 12px;
}

.btn {
  border-radius: none !important;
}
.btn.btn-decline {
  border: 1px solid #04d976;
  color: #04d976;
  background-color: white;
  border-radius: none;
}

.btn.btn-accept.active {
  background-color: #04d976;
  color: white;
  border: 1px solid #04d976;
  border-radius: none;
}
