.modal-header {
  background-color: #3B3B3B;
  color: white;
  flex-direction: row;
  align-items: flex-start;
}

.modal-header p {
  font-size: 12px;
}

.modal-subtitle {
  color: #04D976;
}

.btn-decline {
  outline: 2px solid #04d976;
  border: none;
  color: #04d976;
  background-color: white;
  border-radius: none;
}

.btn-accept {
  background-color: #E3E3E3;
  color: #9A9A9A;
  font-weight: 500;
  padding: 0.65rem 2rem;
  border: 2px solid #E3E3E3;
}

.btn-accept.active {
  background-color: #04d976;
  color: white;
  padding: 0.5rem 2rem;
  border: 2px solid #04d976;
  border-radius: none;
  padding: 0.5rem 2rem;
  font-weight: 500;
  height: 48px;
}
