.footer {
  width: 50%;
  background-color: transparent;

  padding: 8px;
  padding-bottom: 4px;
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.footer-home {
  width: 50%;
  background-color: transparent;

  padding: 8px;
  padding-bottom: 4px;
  position: absolute;
  bottom: 0;
  justify-content: flex-start;
}

.a-tag-white {
  color: white;
}
