.footer {
  /* width: 50%; */
  background-color: transparent;

  padding: 8px;

  padding-bottom: 4px;
  position: absolute;
  bottom: 5px;
}

.footer-home {
  /* width: 50%; */
  background-color: transparent;

  padding-bottom: 4px;
  position: absolute;
  bottom: 5px;
}

.a-tag-white {
  color: white;
}

.footer-sm {
  position: absolute;
  bottom: 0;
  width: 100%;
}
