.participate-now-page {
  background-color: #bbf0d41a;
}

.content-area {
  height: 95%;
}

.content-slide {
  background-color: white;
  box-shadow: 0px 4px 10px lightgrey;
  height: 70%;
}

.btn-group .btn {
  background-color: transparent;
  border: none;
  color: lightgrey;
}

.btn-group .btn.active {
  color: #0fc6d9;
}

.btn-dark {
  color: #3b3b3b;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
}

.middle-container {
  height: 65%;
  background-color: #fafcfc;
}

@media screen and (max-width: 576px) {
  .middle-container {
    min-height: 65%;
    height: fit-content;
  }
}
