.participate-now-page {
  background-color: #bbf0d41a;
}

.content-area {
  height: 95%;
}

.content-slide {
  background-color: white;
  box-shadow: 0px 4px 10px lightgrey;
  height: 70%;
}

.left-div {
  overflow: auto;
}

.left-div::-webkit-scrollbar {
  /* width: 48px; */
  width: 8px;
}

.left-div::-webkit-scrollbar-track {
  background: #fff;
}

.left-div::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 4px;
  border: none;
}

.signup-underline {
  position: relative;
}

.signup-underline::after {
  position: absolute;
  bottom: -2px;
  left: 8px;
  width: 36px;
  height: 4px;
  border-radius: 4px;
  background-color: #f230bb;
  content: "";
}

/* .form-class {
  height: 100%;
  overflow: auto;
  max-height: 465px;
  margin-bottom: 20px;
} */

@media screen and (max-width: 576px) {
  .form-class {
    height: 100%;
    overflow: unset;
  }

  .left-div::-webkit-scrollbar {
    width: 0px;
  }

  .left-div::-webkit-scrollbar-track {
    background: #fff;
  }

  .left-div::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-radius: 8px;
    border: none;
  }
}

.rounded-corners {
  border-radius: 25px;
}

.form-class::-webkit-scrollbar {
  width: 8px;
}

.form-class::-webkit-scrollbar-track {
  background: #fff;
}

.form-class::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 100px;
  border: none;
}
