.admin-login-underline {
  position: relative;
}

.admin-login-underline::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 86px;
  height: 4px;
  border-radius: 4px;
  background-color: #f230bb;
  content: "";
}
