.button-dropdown {
  border: 1px solid #c7c7c7;
  border-radius: none;
  padding-left: 2rem;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 30rem;
  background-color: transparent;
}
.dropdown-toggle::after {
  margin-left: 35rem;
}

.dropdown-menu {
  width: 100%;
}
